/* global settings */
[class*='col-']:last-of-type {
    padding: 40px;
}

[class*='col-'] {
    float: none;
}

.content-section {
    padding-top: 0;
}

/* section-specific settings */
.intro {
    padding-top: 0;
}

.placeholder {
    visibility: hidden;
}

.love, .play, .make {
    position: absolute;
}

.play, .make {
    display: none;
}

.about__pictures > div {
    float: left;
}

.about__text {
    margin-top: 10vh;
}

.faq__title {
    margin-top: 10vh;
}

.contact {
    height: 100vh;
}

.contact__information {
    margin-top: 35vh;
}

/* for bigger screens */
@media (min-width: 768px) {
    .intro-body {
        padding-bottom: 200px;
    }
}

/* for smaller screens */
@media (max-width: 991px) {
    .about__pictures > div {
        float: none;
    }
}

@media (max-width: 1199px) {
    .about__pictures > div:last-of-type {
        padding: 40px 0 40px 35px;
    }
}

.q_block {
    margin-bottom: 30px;
}

.question {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    margin: 0 0 0px;
}

.answer {
    font-family: 'Antic Slab', serif;
    margin: 0 0 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 0 0 16px;
}

.subtitle{
    font-family: 'Antic Slab', serif;
    font-size: 32px;
    margin: 0 0 0px;
}

.content-text {
    font-family: 'Antic Slab', serif;
    /*font-size: 32px;*/
    margin: 0 0 0px;
}

.name {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0px;
}

.role {
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

.clip-circle {
    -webkit-clip-path: circle(55% at 50% 65%);
    clip-path: circle(50% at 50% 50%);
}