/* global settings */
[class*='col-']:last-of-type {
  padding: 40px;
}

[class*='col-'] {
  float: none;
}

.content-section {
    padding-top: 0;
}

/* section-specific settings */
.intro {
    padding-top: 0;
}

.placeholder {
    visibility: hidden;
}

.love, .play, .make {
    position: absolute;
}

.play, .make {
    display: none;
}

.about__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease 1s;
}

.about__pictures > div {
  float: left;
}

.about__pictures > h3 {
  width: 100%;
}

.about__text {
    margin-top: 15vh;
}

.faq__title {
    margin-top: 15vh;
}

.contact {
    height: 100vh;
}

.contact__information {
    margin-top: 35vh;
}

/* for bigger screens */
@media (min-width: 768px) {
    .intro-body {
        padding-bottom: 200px;
    }
}

/* for smaller screens */
@media (max-width: 991px) {
    .about__pictures > div {
        float: none;
    }
}

.q_block {
    margin-bottom: 30px;
}

.question {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    margin: 0;
}

.answer {
    font-family: 'Antic Slab', serif;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 0;
		margin-bottom: 16px;
}

.subtitle{
    font-family: 'Antic Slab', serif;
    font-size: 32px;
    margin: 0;
}

.content-text {
    font-family: 'Antic Slab', serif;
    margin: 0;
}

.exec-grid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
}

.name {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.role {
    font-family: 'Antic Slab', serif;
    font-size: 18px;
		margin-bottom: 5px;
}

.headshot {
	  max-width: 100%;
	  border-radius: 50%;
	  transition: background-image ease 0.4s;
	  min-height: 250px;
	  background-size: cover;
}

.linkedin,
.github {
		background-size: contain;
		background-repeat: no-repeat;
		width: 45px;
		height: 45px;
		display: inline-block;;
		margin: 0 auto;
		cursor: pointer;
}

.linkedin {
		background-image: url(../img/linkedin.png);
}

.github {
		background-image: url(../img/github.png);
}

@media (max-width: 1199px) {
    .headshot {
        min-height: 185px;
    }
}

@media (max-width: 991px) {
    .headshot {
        height: 240px;
        width: 200px;
				margin: 0 auto;
    }
}

/*
 *
 *
 * INDIVIDUAL HEADSHOT PROPERTIES
 *
 *
 */

 .headshot.gowtham {
   background-image: url(../img/headshots/old/gowtham.jpg);
 }

 .headshot.gowtham:hover {
   background-image: url(../img/headshots/gowtham.jpg);
 }

 .headshot.jeanie {
   background-image: url(../img/headshots/old/jeanie.jpg);
 }

 .headshot.jeanie:hover {
   background-image: url(../img/headshots/jeanie.jpg);
 }

.headshot.shrey {
  background-image: url(../img/headshots/old/shrey.jpg);
}

.headshot.shrey:hover {
  background-image: url(../img/headshots/funshot-shrey.jpg);
}

.headshot.maia {
  background-image: url(../img/headshots/maia.jpg);
}

.headshot.maia:hover {
  background-image: url(../img/headshots/funshot-maia.jpg);
}

.headshot.jay {
  background-image: url(../img/headshots/jay.jpg);
}

.headshot.jay:hover {
  background-image: url(../img/headshots/funshot-jay.jpg);
}

.headshot.max {
  background-image: url(../img/headshots/max.jpg);
}

.headshot.max:hover {
  background-image: url(../img/headshots/funshot-max.jpg);
}

.headshot.pinia {
  background-image: url(../img/headshots/pinia.jpg);
}

.headshot.pinia:hover {
  background-image: url(../img/headshots/funshot-pinia.jpg);
}

.headshot.eamonn {
  background-image: url(../img/headshots/eamonn.jpg);
}

.headshot.eamonn:hover {
  background-image: url(../img/headshots/funshot-eamonn.jpg);
}
