.content {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    padding: 30px;
    font-size: 25px;
}

.workshop {
    display: block;
    line-height: 1;
    padding-left: 20px;
}

.workshop span {
    display: flex;
    align-items: baseline;
}
