html *, body * {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-shadow: 0 0 3px rgb(0,0,1);
}

section {
    border-bottom: #fff solid 1px;
}

section:last-child {
    border: none;
}

.content-wrapper {
    padding: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vr-main,
.vr-signup,
.vr-pros {
    background-image: url(../images/vr.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.vr-main {
    padding: 0;
}

.section-header {
    font-size: 25px;
    text-align: center;
}

.vr-header {
    font-size: 45px;
    padding: 20px;
    text-align: center;
}

.vr-header-welcome {
    margin: 0;
    font-size: 16px;
}

.vr-quick-access {
    width: 100%;
    max-width: 800px;
}

.vr-quick-access-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 35px;
}

.vr-quick-access-header {
    text-align: center;
    margin: 0;
    padding: 15px;
}

.vr-quick-access-menu li {
    padding: 5px;
}

.vr-quick-access-menu li:hover {
    font-size: 20px;
    text-shadow: 0 0 8px rgb(255,255,255);
}

.vr-quick-access-menu a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.vr-introduction {
    text-align: center;
    font-size: 18px;
}

.vr-introduction p {
    margin: 0 0 10px;
}

.vr-pros-list,
.vr-require-list {
    list-style-type: circle;
    padding-left: 10px;
}

.vr-pros-list li,
.vr-require-list li {
    padding: 5px 0;
}

.vr-signup {
    text-align: center;
}

.vr-signup a {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
}

.vr-signup a:hover {
    text-shadow: 0 0 8px rgb(255,255,255);
}

@media all and (max-width: 768px) {
    .vr-quick-access {
        display: none;
    }
}
