@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800);

body{
  font-family: 'Fredoka One', "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: url(../images/dark_wall_@2X.png) #2c2c2c;
	background-size: 140px 140px;
  color:#eafaff;
  margin: 0;
}

#logo {
		-webkit-animation: bounceInDown .8s;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  padding: 20px 0;
}

h3{
  font-family: Consolas, 'Fredoka One', "Helvetica";
	font-size: 1.75em;
	color: rgb(255, 225, 127);
	-webkit-animation: bounceInUp .9s;
	margin-top: 2em;
    text-transform: uppercase;
}

p {
    width: 50%;

    text-align: justify;
    margin: 1em auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.25em;
		line-height: 1.4em;
		-webkit-animation: bounceInUp 1s;
}

img {
    width:215px;
}

a {
	color: rgb(67, 231, 255);
	font-weight: 700;
	padding-bottom: 3px;
}
ul {
	list-style: none;
	width: 100%;
	max-width: 1200px;
}

p.note {
background: rgb(255, 40, 99);
padding: 10px;
border-radius: 10px;
font-weight: 600;
border-bottom: solid 5px rgb(158, 3, 67);
-webkit-animation: bounceInUp .7s;

}

.name {
	font-family: "Open Sans";
	font-weight: 900;
	font-size: 1.3em;
	-webkit-animation: bounceInUp 1s;

	line-height: .5em;
	text-align: center;
}

.grid {
	width: 100%;
	max-width:75%;
	margin: auto;
}

[class*='col-'] {
  float: left;
	height: 300px;
}

.col-2-3 {
  width: 66.66%;

}
.col-1-3 {
  width: 33.33%;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
	text-align:center;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding: 40px;
}
[class*='col-']>p {
  width: 100%;
}
.role {
	font-size: 1em;
	text-align:center;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
