.content {
    padding: 0 20px 20px 20px;
}

.team {
    padding: 20px;
}

.title {
    padding: 20px 0 40px 0;
    text-align: center;
    font-size: 40px;
}

.contentText {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
}

.contentText a {
    color: #6495ed;
    text-decoration: none;
}

.contentText a:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgb(255,255,255);
}

.execs {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    justify-content: space-around;
    margin: 0 auto;
}
