.wrapper {
    display: flex;
    width: 100vw;
    min-height: 40px;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px #fff;
    z-index: 1;
    align-items: center;
}

.itemWrapper {
    display: flex;
}

.menuItem {
    text-decoration: none;
    color: inherit;
    padding: 12px 5px;
    line-height: 1;
    display: block;
    margin: 0 5px;
}

.menuItem:hover {
    cursor: pointer;
    background-color: #666;
}

.placeholder {
    height: 40px;
    width:100%;
    display: block;
    position: relative;
}
