.wrapper {
    display: flex;
    width: 100vw;
    height: 30px;
    justify-content: space-between;
}

.itemWrapper {
    display: flex;
}

.menuItem {
    padding: 7px;
    line-height: 1;
}

.menuItem a {
    text-decoration: none;
    color: inherit;
}

.menuItem a:hover {
    cursor: pointer;
}
